body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#type {
    float: left;
    width: 32%;
    height: 100%;
    background-color: darkgray;
}

#type .type {
    margin: 1%;
}

#luas {
    float: left;
    width: 32%;
    height: 100%;
    margin-left: 1%;
    background-color: white;
}

#hasil {
    float: left;
    width: 32%;
    height: 100%;
    margin-left: 1%;
    background-color: darkgray;
}